.container
{
    margin-top: 50px;
    
}
.addrecord{
    width: 50%;
    margin-top: 30px;
}
.form-label{
    width: 80px;
}
.mb-3{
    display: flex;
    margin-top: 10px;
     
}
.form-control{
    height: 32px;
    width: 50%;
}