
.form{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    margin-left: 446px;
}
.form-label
{
    margin-left: 0px;
    font-weight: bold;
    font-size: 19px;
}
#btn{
    width: 210px;
}
.container-fluid{
    margin-top: 2px;
}